
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
table {
  flex: 1;
  border-collapse: collapse;
  margin-top: 100px;

}
td {
  width: 20px;
  height: 20px;
  border:1px solid gray;
  border-radius: 1px;
  user-select: none;
  padding: 0px;
  
}
.middlePage{
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  margin-top: 50px;

}
.ending-cell {
  background-color: red;
}
.starting-cell {
  background-color: green;
}
.obstacle {
  background-color: black;
}
.weighted-cell {
  background-color: blueviolet;
  font-weight: bold;
  text-align: center;
  font-size: 17.8px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
}
.top-text {
  font-size: 40px;
}
.weighted-button{
  font-size: 30px;
  color: black;
  background-color: aqua;
  border-radius: 5px;
  border-color:blue;
  border-width: 0px;
  cursor: pointer;
  transition: all 1s;
}
.obstacle-button {
  font-size: 30px;
  color: black;
  background-color: aqua;
  border-radius: 5px;
  border-color:blue;
  border-width: 0px;
  cursor: pointer;
  transition: all 1s;
}
.seen {
  background-color: blue;
}
.arrived {
  background-color: green;
}
.reset-cell {
  background-color: white;
}
.algo-data {
  margin-left: 20px;
  font-size: 24px;
  color:black;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex: 1;
}
.reset-button {
  background-color: rgb(0, 44, 0);
  font-size: 30px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border-color:blue;
  border-width: 0px;
  cursor: pointer;
}
.dfs-button{
  background-color: rgb(233, 236, 12);
  font-size: 30px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border-color:blue;
  border-width: 0px;
  cursor: pointer;
}
.bfs-button{
  background-color: rgb(5, 249, 5);
  font-size: 30px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border-color:blue;
  border-width: 0px;
  cursor: pointer;
}
.astar-button{
  background-color: rgb(180, 8, 8);
  font-size: 30px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border-color:blue;
  border-width: 0px;
  cursor: pointer;
}
.dijkstra-button{
  background-color: rgb(14, 161, 252);
  font-size: 30px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border-color:blue;
  border-width: 0px;
  cursor: pointer;
}
.new-points-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.new-points{
  position: relative;
  background-color: rgb(16, 86, 207);
  font-size: 30px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border-color:blue;
  border-width: 0px;
  cursor: pointer;

}
.new-points-dropdown{
  display: none;
  flex-direction:column;
  position: absolute;
  /* top: 60%; */
}
.path{
  background-color: yellow;
}
.new-start-points-container{
  position:relative;
  display:flex;
}
.new-end-points-container{
  position: relative;
  display: flex;
}
.new-start-points{
  background-color: rgb(23, 197, 0);
  font-size: 12px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border-color:blue;
  border-width: 0px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  
}
.new-end-points{
  background-color: rgb(219, 0, 0);
  font-size: 12px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border-color:blue;
  border-width: 0px;
  cursor: pointer;

}
.start-input-container{
  display: none;
  position: absolute;
  left:100%;
}
.new-start-points-button{
  background-color: rgb(0, 0, 0);
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border-color:blue;
  border-width: 0px;
  cursor: pointer;
}
.new-end-x,.new-end-y {
  background-color: coral;
  border: 1px solid black;
  border-radius: 5px;
}
.new-starting-x,.new-starting-y {
  background-color: chartreuse;
  border: 1px solid black;
  border-radius: 5px;
}
::placeholder {
  color: black;
  font: bold;
}
.input {
  border: 10px solid rgb(244, 11, 11);
  border-radius: 10px;
}
.new-end-points-button{
  background-color: rgb(0, 0, 0);
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border-color:blue;
  border-width: 0px;
  cursor: pointer;
}
.end-input-container {
  display: none;
  position: absolute;
  margin-top: -8px;
  left:100%;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}
.reset-options-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.reset-options {
  margin-top: 10px;
  display: none;
  flex-direction: column;
  position: absolute;
  top:100%;
  left:20%;
}
.remove-obstacles-option {
  margin-top: -10px;
}
.keep-obstacles-option {
  margin-top: -12px;
}
.reset-button-remove-obstacles, .reset-button-keep-obstacles {
  background-color: rgb(0, 0, 0);
  font-size: 16px;
  color: rgb(255, 255, 255);
  border-radius: 3px;
  border-color:rgb(0, 95, 2);
  border-width: 2px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
}
.walls-text {
  text-align: center;
  margin-bottom: -100px;
  font-size: 25px;
  font-weight: bold;
  color: black;
}
